body {
    background-color: #D9D9D9;
    color: black;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #434040;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-image {
    display: none;
}

header h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Inter;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 12px;
    word-wrap: break-word;
    margin: 0;
}

nav {
    background-color: #242424;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}


.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F0F0F0;
    padding: 40px;
}

.content-container {
    display: flex; 
    flex: 1; 
    align-items: center; 
}

.content-box, .image-box {
    flex: 1; 
    padding: 20px; 
}

.content-box {
    padding: 20px;
    text-align: center;
    color: #333; 
}

.content-box h2 {
    font-size: 28px;
    color: #222;
}

.content-box p {
    font-size: 16px;
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.main-content-larger-letter {
    font-size: 50px; 
    vertical-align: sub;
    position: relative;
    top: 1px;
}

.larger-letter {
    font-size: 150px;
    vertical-align: sub;
    position: relative;
    top: 10px;
}


h2, h3 {
    color: #fff; 
}

ul {
    list-style: disc;
}

button {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555; 
}


.contact {
    background-color: #F0F0F0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact p {
    text-decoration: none; 
    color: your-desired-color; 
}  

.contact ul {
    list-style-type: none;
}

@media screen and (max-width: 800px) {
    .contact {
        max-width: fit-content;
        background-color: #faf3f3;
        float: left;
        padding: 3px;
        border: #222;
    }

    .contact-info p {
        font-size: 10px;
        margin: 0 0 1px;
    }

    .contact-info ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .contact-info li {
        margin: 0 20px;
    }

    .contact-info a {
        text-decoration: none;
        color: #333;
    }

    .contact-info i {
        font-size: 10px;
        margin-right: 10px;
    }

    .cta-button {
        background-color: lightgray;
        outline-color: #222;
    }
   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    position: relative;

}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s;
    margin: 0; 
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-item {
    width: 400px;
    height: 400px;
    margin: 0; 
}

.carousel-item img{
    width: 200px;
    height: 200px;
    padding: 0;
}


footer {
    background-color: #242424; 
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: white; 
}

.sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px; 
    margin: 0 auto;
}

.sitemap a {
    text-decoration: none;
    color: white;
}

.sitemap-section {
    margin-right: 20px; 
    margin-bottom: 20px;
    flex: 1; 
    max-width: 300px; 
}

.sitemap-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white; 
} 
.sitemap-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap-section li {
    margin: 5px 0;
}


.sitemap-legal a {
    text-align: center;
    text-decoration: none;
    margin-top: 20px; 
    color: white; 
}

@media only screen and (max-width: 768px) {
    
    header h1 {
        font-size: 24px;
        line-height: 60px;
    }

    nav ul {
        flex-direction: column; 
    }

    nav li {
        margin: 10px 0; 
    }
}


@media only screen and (max-width: 768px) {
    header {
        background-color: #434040;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        padding: 30px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 25vh; 
    }

    .main-content{
        height: 100%;
    }


    nav {
        background-color: #242424;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 10px 0;
        text-transform: uppercase;
    }

   
    .contact-buttons {
        background-color: #434040; 
        text-align: center;
        padding: 10px 0;
    }

    .call-button, .email-button {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px;
    }

    .call-button {
        background-color: #555;
    }

    .email-button {
        background-color: #555;
    }


    .carousel-item img { 
        width: 200px;
        height: 200px;
        padding: 0; 
    }
    
    .carousel-item {
        width: 100%;
    }
    
    .carousel-container {
        width: 100%;
        overflow: hidden;
    }

    .carousel-slide {
        display: flex;
        transition: transform 0.5s;
    }

    .carousel-slide img {
        width: 100%;
        height: auto;
    }

@media only screen and (min-width: 769px) {
    .call-button, .email-button {
        display: none; 
    }
}
}